html {
  font-size: 10px;
  font-family: sans-serif;
  line-height: 1;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h2 {
  font-family: billabong, 'billabongregular';
  margin-left: 12px;
  font-size: 2rem;
}

.betslip-footer__sub__clearslip {
  font-family: billabong, 'billabongregular';
  font-size: 2rem;
}

.navbar-brand {
  font-family: billabong, 'billabongregular';
  font-size: 4rem;
}

h1 {
  font-family: billabong, 'billabongregular';
  text-align: left;
  font-weight: 100;
  font-size: 4rem;
  letter-spacing: -1px;
  margin-left: 12px;
  text-shadow: 0px 4px 0 rgba(18, 86, 136, 0.11);
}

body {
 color: #222;
 font-family: Arial,Helvetica,"Helvetica Neue",sans-serif;
 font-size: 16px;
 background: #d9d9d9;
}

a {
 color: #248CB3;
 font-weight: 700;
 line-height: inherit;
}

.fl h2 {
 display: block;
 padding-right: 10px;
 font-size: 1.5em;
 font-weight: bold;
 -webkit-margin-before: 0.83em;
 -webkit-margin-after: 0.83em;
 -webkit-margin-start: 2px;
 -webkit-margin-end: 2px;
}

h3 {
 display: block;
 font-size: 1.17em;
 -webkit-margin-before: 1em;
 -webkit-margin-after: 1em;
 -webkit-margin-start: 0px;
 -webkit-margin-end: 0px;
 font-weight: bold;
}

fl {
 float: left;
}

aside, div, header, a, i, p, section, nav, span, ul, li, ol {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
}

aside, div, footer, header, main, menu, nav, section {
 display: block;
}

li {
 display: list-item;
}

ol, ul {
 list-style: none;
}

ul {
 display: block;
 margin-before: 1em;
 margin-after: 1em;
 margin-start: 0px;
 margin-end: 0px;
 padding-start: 40px;
}

.button, button-clear {
 -moz-transition: background-color .25s linear;
 -o-transition: background-color .25s linear;
 -webkit-transition: background-color .25s linear;
 transition: background-color .25s linear;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 color: #fff;
 cursor: pointer;
 line-height: 1.2em;
 margin: 0;
 padding: .8em 1.6em;
 text-align: center;
 vertical-align: middle;
 -moz-border-radius: .3125em;
 -webkit-border-radius: .3125em;
 border-radius: .3125em;
 border: 1px solid transparent;
 font-weight: 700;
 background-color: #184b74;
 font-size: 12px;
 display: inline-block;
}

.off-canvas_inner-wrapper {
 display: flex;
 height: calc(100vh - 56px);
 justify-content: flex-start;
 margin-top: 56px;
 margin-right: auto;
 margin-bottom: 56px;
 margin-left: auto;
 max-width: 1440px;
 overflow: hidden;
 position: relative;
 width: 100%;
 background: #D9D9D9;
}

.off-canvas_left {
 float: left;
 position: relative;
 left: 0;
 max-width: 280px;
 width: auto;
 padding-left: 12px;
 background: blue;
}


.off-canvas_main {
 width: calc(100% - 584px);
 margin-top: 0;
 overflow-y: auto;
 position: relative;
 float: left;
 margin-left: 20px;
 margin-right: 20px;
 flex-basis: fit-content;
 flex-grow: 1;
 background: #EDEDED;
}

.markets-group-container div {
 margin-left: 2px;
 margin-right: 2px;
}

.off-canvas_right {
 float: left;
 position: relative;
 left: 0;
 max-width: 220px;
 width: auto;
 overflow-y: auto;
 padding-left: 12px;
 padding-right: 178px;
 background: blue;
 flex-grow: 0;
}

.ui {
 right: 10px;
}

.betslipwrapper {
 background: #FFF;
 bottom: 0;
 overflow-y: auto;
 border-left: none;
 height: auto;
 position: relative;
 top: 12px;
 width: 198px;
 margin-bottom: 12px;
}

.betslip-container {
 font-family: Arial;
 font-size: 12px;
 line-height: 1.5;
 cursor: pointer;
}

.betslip-section {
 height: auto;
 overflow-y: hidden;
 overflow-x: hidden;
}

.betslip-navigation {
 font-size: 12px;
 overflow: auto;
 text-align: center;
}

.betslip-selections-wrapper {
 position: relative;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
}

.betslip-navigation_menu {
 align-items: stretch;
 display: flex;
 justify-content: space-between;
}

.betslip-navigation_menu-item {
 flex: 1;
 height: 44px;
 text-align: center;
}

.betslip-navigation_menu-link {
 background: #fff;
 border-top: 4px solid #007ac0;
 color: #007ac0;
 display: table;
 font-weight: 700;
 height: 44px;
 padding: 0 8px;
 width: 100%;
 text-align: center;
}

.betslip-navigation_menu-text {
 padding-top: 2px;
 display: table-cell;
 vertical-align: middle;
}

.left-nav {
 list-style: none;
 margin-left: 0;
 top: 12px;
 right: 12px;
 margin-bottom: 12px;
 font-size: 14px;
 overflow-y: auto;
 position: relative;
}

.tabs_panels {
 position: relative;
 overflow: hidden;
 width: 100%;
}

.tabs_panels {
 display: block;
 margin-bottom: 1em;
 overflow: hidden;
}

.sectionheading {
 line-height: 36px;
 margin-bottom: 4px;
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
 position: relative;
 font-size: 1.16667em;
 padding: 1em 0 .5em;
 line-height: 20px;
}

.cap {
 text-transform: capitalize;
}

.sport-container {
 width: 100%;
 float: left;
 font-size: .75em;
}

.header-dropdown {
 position: relative;
 width: 100%;
 background-color: #007ac0;
 color: #fff;
 display: table;
 height: 3.33333em;
 margin-bottom: 1px;
 padding-left: .75em;
 padding-right: .75em;
 font-size: 14px;
}

.betbutton {
 background: #dadfe5;
 font-size: 12px;
 margin-bottom: 0;
 padding: .9em .125em;
 width: 100%;
 outline: 0;
 color: #222;
 cursor: pointer;
 transition: background .25s ease-out;
 border-radius: 4px;
 border: 0;
 display: inline-block;
 font-weight: 700;
 text-align: center;
 position: relative;
 max-width: 100%;
 vertical-align: middle;
 user-select: none;
}

.market_wrapper {
 background-color: #FFF;
 padding: .25rem .5rem;
}

.market {
 flex-wrap: wrap;
 background-color: #FFF;
 font-size: 12px;
 display: flex;
 margin-left: -.25rem;
 margin-right: -.25rem;
 padding: .125rem 0;
}

.market_content {
 flex: 0 0 50%;
 max-width: 50%;
 justify-content: space-between;
 position: relative;
 align-items: center;
 padding: 0 .25rem;
}

.market_name {
 font-weight: 700;
 font-size: 12px;
 line-height: 1;
 color: #248CB3;
 cursor: pointer;
 text-decoration: none;
}

.market_link-name {
 display: flex;
 flex-direction: column;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 width: 100%;
 line-height: 1.25;
}

.market_actions {
 flex: 1;
 justify-content: space-around;
 display: flex;
 flex-wrap: wrap;
}

.market_selection {
 justify-content: space-between;
 position: relative;
 text-align: center;
 width: 100%;
 flex: 1;
 flex-direction: column;
 display: flex;
 padding: .125rem .25rem;
 align-self: center;
}

.btmarket__content-marginrs {
 flex: 1;
 max-width: calc(100% - 25px);
}

.betgroup {
 float: left;
 width: 100%;
}

.sport-container {
 width: 100%;
 float: left;
 font-size: .75em;
 min-width: 1000px;
}

.c-list_item {
 display: flex;
 background-color: #FFF;
 border-left: 8px solid #007AC0;
 color: #007AC0;
 font-weight: 700;
 padding-left: 16px;
 border-bottom: 1px solid rgba(0,66,125,.1);
 padding: 12px;
 text-decoration: none;
}

.board-row:after {
 clear: both;
 content: "";
 display: table;
}

.status {
 margin-bottom: 10px;
 align-items: center;
 text-align: center;
}

.square {
 background: #fff;
 border: 1px solid #999;
 float: left;
 font-size: 44px;
 font-weight: bold;
 line-height: 54px;
 height: 54px;
 margin-right: -1px;
 margin-top: -1px;
 padding: 0;
 text-align: center;
 width: 54px;
}

.square:focus {
 outline: none;
}

.kbd-navigation .square:focus {
 background: #ddd;
}

.betslip-selection {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
 position: relative;
 background: #eceef2;
 border-radius: 2px;
 margin-bottom: 8px;
}

.betslip-selection header {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
 position: relative;
 background: #eceef2;
 border-radius: 2px;
 margin-bottom: 8px;
 font-size: 14px;
 font-weight: 700;
 padding: 12px 8px 4px;
}

.betslip-selection_input input {
 border-radius: 2px;
 font-size: 14px;
 height: 40px;
 padding: 4px 8px;
 text-align: right;
 width: 77px;
 letter-spacing: normal;
 word-spacing: normal;
 text-transform: none;
 text-indent: 0px;
 text-shadow: none;
 display: inline-block;
 font: inherit;
 margin: 0;
}

.betslip-footer__sub__clearslip a {
 margin-top: 25px;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 150%;
 vertical-align: baseline;
}

.betslip-bet-actions {
 align-items: center;
}

.betslip-bet-actions button {
 border: 0;
 border-radius: 2px;
 cursor: pointer;
 font: inherit;
 font-weight: 700;
 overflow: visible;
 padding: 12px 16px;
 transition: .33333s;
 background: #53e500;
}

.betslip-footer__total-stake-price span {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
 text-align: right;
}

.betslip-footer__to-return-price-container {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
}

.betslip-footer__to-return-label {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
 display: table-cell;
}

.betslip-footer__totals {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
 margin-bottom: 8px!important;
}

.betslip-selection_stake {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
 padding-top: 8px;
 position: relative;
}

.u-highlight {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
 color: #007ac0;
}

.betslip-selection_event {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
}

.betslip-selection_content {
 margin: 0;
 line-height: 1.1;
 padding: 0 8px 12px;
 position: relative;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
 padding-top: 4px;
}

.betslip-header header {
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
 display: block;
 position: relative;
 font-size: 14px;
 font-weight: 700;
 margin-bottom: 8px;
}

#bets-container-singles {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
 box-sizing: border-box;
}

.receipt-notice-box {
 flex-grow: 2;
 flex-shrink: 1;
 flex-basis: auto;
 align-items: center;
 display: flex;
 justify-content: center;
 line-height: 1.2;
 font-size: 16px;
 font-weight: 400;
 padding: 8px;
 background: #3da800;
 border-color: #3da800;
 color: #fff;
 text-align: center;
 border-radius: 2px;
 border-style: solid;
 border-width: 1px;
}

.betslip-header {
 position: relative;
}

.betslip-receipt_details {
 display: block;
}

.betslip-receipt_subheader {
 font-size: 16px;
 font-weight: 700;
 line-height: 1.125;
 padding-top: 12px;
}

.betslip-receipt-selection {
 background: #f6f7f9;
 padding: 0 8px 8px;
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
}

.betslip-receipt-selection_row {
 padding-top: 4px;
 padding-right: 0px;
 padding-bottom: 4px;
 padding-left: 0px;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
}

.betslip-receipt-returns {
 padding-top: 8px;
 padding-right: 8px;
 padding-bottom: 8px;
 padding-left: 8px;
 background: #ecedf2;
}

.u-bold {
 font-weight: 700;
}

.betslip-receipt-returns_amount {
 color: #3da800;
 font-weight: 700;
}

.betslip-receipt-returns_label {
 padding-right: 4px;
}

#closeButton {
 color: #a2a2a2;
 line-height: 1;
 position: absolute;
 right: 8px;
}

.examples h3 {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 10%;
 text-align: center;
 padding-right: 50px;
 padding-left: 50px;
}

.example {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 10px;
}

.likes-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 10px;
}

.game-board {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 10px;
}
